.container2{
    color: #172F4A ;
    width: 100%;
    font-family: 'Rubik', sans-serif;
}

.date, .countdown, .names{
    font-size: 1.75rem;
}

@media (max-width: 500px){
    .container2, .names, .date, .countdown{
        font-size: 1rem;
    }
    .container2{
        padding-bottom: 5%;
        margin-bottom: 5%;
     }
}