.container3{
    color: white;
    background-color: #172F4A ;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.sectionTitle{
    font-size: 4rem;
    font-family: 'northwellregular';
}

.infoText{
    font-size: 1.75rem;
    padding: 10px;
}

.mapImage{
    max-width: 250px;
    max-height: 250px;
}

@media (max-width: 500px){
    .infoText{
        font-size: 1rem;
    }
    .googleMap{
        clear: both;
    }
    .container3{
       padding-bottom: 5%;
       margin-bottom: 5%;
    }
}