.container5{
    color: #172F4A;
    background-color: white;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.people{
    text-align: center;
}

.officiant{
    text-align: center;
}

.sectionTitle2{
    font-family: 'northwellregular';
    font-size: 2em;
}