.App {
  text-align: center;
} 

.carousel {
  margin-top: 10%;
}

.carImage {
  margin-top: 25%;
}

@font-face {
  font-family: 'northwellregular';
  src: 
      url(./fonts/Northwell/OTF/Northwell.otf)format('opentype'),
      url(./fonts/Northwell/TTF/Northwell.ttf)format('ttf');
  font-weight: normal;
  font-style: normal;
}

/* @media (max-width: 500px){
  div{
    font-size: 1em;
  }
} */